form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
    align-items: center;
    border-radius: 100px;
}

input{
    width: 20%;
    margin-bottom: 20px;
    margin-top: 10px;
}

button{
    width: 20%;
    margin-bottom: 10px;
}